* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #191765;
  color: #fff;
}

h1 {
  color: #9391ff;
}

button {
  background-color: #9390ff;
  color: #fff;
  padding: 12px;
  border: none;
}
/*hero-section*/

.Hero-section {
  background-image: url("./images/two-circles.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-width {
  max-width: 447px;
}

/* works section */
.works-section .row {
  height: 348px;
}

.card-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  background-color: #191765;
  border: none;
}

.card-image {
  height: 400px;
}

.card img {
  width: 100%;
  height: 100%;
}
